<a href="https://colab.research.google.com/github/yusangmin/com_221028/blob/main/com_22201_221028.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제를 냅니다.

In [2]:
total = 0
counter = 1
while counter <= 10:
  grade = int(input("점수를 입력하시오.: "))
  total = grade + total
  counter = counter + 1
average = total /10
print(average)

점수를 입력하시오.: 10
점수를 입력하시오.: 10
점수를 입력하시오.: 10
점수를 입력하시오.: 10
점수를 입력하시오.: 10
점수를 입력하시오.: 10
점수를 입력하시오.: 10
점수를 입력하시오.: 10
점수를 입력하시오.: 10
점수를 입력하시오.: 10
0.0

In [4]:
x = 10
y = 2
result = x + y
print(result)

12

In [10]:
print("Hello World! 안녕 파이썬!");
print('Hello World! 안녕 파이썬!')
print('Hello World! 안녕 파이썬!')

SyntaxError: ignored

In [8]:
print(4+3);

7

In [12]:
print("#" * 15)
print("# 안녕하세요? #")
print('#' * 15)

###############
# 안녕하세요? #
###############

In [14]:
print("3개의 값을 입력하시오.")
x = int(input("x의 값을 입력하시오.: "))
y = int(input("y의 값을 입력하시오.: "))
z = int(input("z의 값을 입력하시오.: "))
x = x + 1
y = y + 1
z = z + 1
print("변경된 값은:", x, y, z, "로 변경되었습니다.")

3개의 값을 입력하시오.
x의 값을 입력하시오.: 2
y의 값을 입력하시오.: 3
z의 값을 입력하시오.: 4
변경된 값은: 3 4 5 로 변경되었습니다.

In [15]:
won = 10000
usd = won * 1418
print(usd)

14180000

In [16]:
print("현재 환율을 입력하시오.")
exchange_rate = int(input("달러의 환율금액을 입력: "))
won = int(input("한화금액를 입력하시오.: "))
usd = won * exchange_rate
print(usd)

현재 환율을 입력하시오.
달러의 환율금액을 입력: 1418
한화금액를 입력하시오.: 5000
7090000

In [18]:
fahrenheit = 100
celsius = fahrenheit - 32
celsius = celsius * 5
celsius = celsius / 9
print(celsius)

37.77777777777778

In [17]:
fahrenheit = 100
celsius = 5 * (fahrenheit-32)/9
print(celsius)

37.77777777777778